
<div class="container p-3 my-3 border">
    <H1>Formulario de personas</H1>
<input class="form-control" type="text" placeholder="nombre" [(ngModel)]="user.nombre"><br>
<input class="form-control" type="text" placeholder="apellido" [(ngModel)]="user.apellido"><br>
<input class="form-control" type="number" placeholder="edad" [(ngModel)]="user.edad"><br>
<button class="btn btn-secondary" (click)= "insertar()">Insertar</button><br><br>
<span (click)="alerta(usuario.nombre,usuario.apellido,usuario.edad)" *ngFor="let usuario of users"><br><ul><li>{{usuario.nombre}} {{usuario.apellido}} {{usuario.edad}}</li></ul></span>
</div>