<div class="container p-3 my-3 border">
    <h1>Crud local de gestion de notas</h1>
<input class="form-control" placeholder="Nombre" type="text" [(ngModel)] = "notaNueva.titulo">
<input class="form-control" placeholder="Nota" type="text" [(ngModel)] = "notaNueva.contenido">
<button class="btn btn-secondary" (click)="insertarNota()">Insertar nota</button>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let nota of notas" (click)="notaSeleccionada = nota"> 
            <td scope="row">{{nota.id}}</td>
            <td>{{nota.titulo}}</td>
            <td>{{nota.contenido}}</td>
        </tr>
    </tbody>
</table>
<input class="form-control" type="text" [(ngModel)]="notaSeleccionada.titulo"><br><input type="text" class="form-control" [(ngModel)]="notaSeleccionada.contenido"><button class="btn btn-secondary" (click)="editarNota(notaSeleccionada)">Editar nota</button><button class="btn btn-secondary" (click)="borrarNota(notaSeleccionada)">Borrar nota</button>
</div>
